*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    width: 200px;
    border: 3px solid red;
    box-shadow: 0 0 20px;
    background: black;
    padding: 0 18px;
}
p{
    color: white;
    font-size: 21px;
    font-weight: 400;
    margin: 3px 15.3px;
}
.hour{
    font-size: 30px;
    color: white;
    font-weight: 400;
}
.minute{
    font-size: 30px;
    color: white;
    font-weight: 400;
}
.seconds{
    font-size: 30px;
    color: white;
    font-weight: 400;
}
h1{
    color: brown;
    margin-bottom: 20px;
}
.heading{
    margin-bottom: 20px;
}